* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: bisque;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

#heading {
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    color: red;
}

#main {
    border: 2px solid black;
     display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    padding: 10px;
}

#lblname {
    font-size: 20px;
    color: black;
}

input {
    font-size: 18px;
    border-color: red;
    border-radius: 5px;

}

input:focus {
    outline-color: palevioletred;
}
#addname{
    font-size: 20px;
    color: black;
}
#conname{
    font-size: 20px;
}
#Birname{
    font-size: 20px;
    color: rgb(12, 12, 12);
}
#Natiname{
  font-size: 20px;  
}
label{
    font-size: 20px;
    font-weight: bold;
    float: left;
}
#child1{
    margin-bottom: 10px;
}
#child2{
    margin-bottom: 10px;
}
#child3{
    margin-bottom: 10px;
}
#child4{
    margin-bottom:10px
}
.mar{
    margin-bottom: 10px;
}
input{
    float: right;
}